# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
!.vscode/settings.json

.env*
!.env.sample

# ignition
packages/hardhat/ignition/deployments

# UI
packages/ui/.dist
packages/ui/node_modules
packages/ui/.env
packages/ui/cache

# Hardhat files
packages/contracts/node_modules
packages/contracts/.dist
packages/contracts/cache
packages/contracts/artifacts
cache
artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.serverless

# sst
.sst
