@import "tailwindcss";
@plugin "daisyui" { 
  themes: dark --default
}; 

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #0084FF;
  --color-secondary: #E5C64A;
  --color-neutral: #20212B;
  --color-success: #04C940;
  --color-error: #DD4656;
}
:root {
  font-family: DM Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #FFFFFF;
  background-color: #1b1921;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer components {
  .heading-1 {
    @apply text-2xl font-bold text-base-content;
  }
  .section {
    @apply container mx-auto px-4 py-6 card min-h-[calc(100vh-250px)] border border-[#ffffff1a] rounded-[8px];
  }
  .header {
    @apply fixed top-0 left-0 right-0 z-50 navbar px-4 transition-all duration-300 ease-in-out border-b border-b-[#ffffff1a];
  }
  .base-input {
    @apply input bg-transparent ring-0 focus:ring-0 focus:outline-none focus:ring-offset-0;
  }
}
